html, body{
    height:100%;
}

.content-fluid{
    overflow:hidden;
    overflow-y:auto;
}

body{

}

header{
    height:100%;
    min-height: 200px;
    background: transparent url("./../img/cover_dotedphoto.jpg") no-repeat scroll 50% 50% / cover;
}

/*div.dots{
    height:50px;
    background: transparent url("./../img/spacedDot.png") repeat-x top center;
    background-size:2%;
}*/

#scientificStudiesCol img{
    width:300px;
    height:300px;
}

#tipsCol img{
    width:150px;
    height:150px;
}

#extraCol img{
    width:100px;
    height:100px;
}
/*.col-xs-12{
    height:100%;
    background: transparent url("./assets/img/cover_photo.jpg") repeat fixed 0% 0% / cover
}*/